<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CT.gov/excel/ExcelParser.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="excel.ExcelParser"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CT.gov"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="${build_files:-Xms1024m -Xmx3000m}"/>
</launchConfiguration>
